<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PC_STORE.Properties.Settings.PC_STORE_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=PC_STORE_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PC_STORE.Properties.Settings.MY_DBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=MY_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PC_STORE.Properties.Settings.PC_STORE_DBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\PC_STORE_DB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>